<% layout('layouts/boilerplate') %>
<div class="row">
<div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>There was an error processing your request. Please try again later.</p>
    <hr>
    <p class="mb-0">If the problem persists, please contact us at <a href="/contact">Contact Us</a></p>
</div>
</div>